
.page-content{
    position: absolute;
    width: 100%;
    margin: auto;
}

.carousel {
    height: 800px;
    width: 100%;
    margin: auto;
}

.welcome {
    position: absolute;
    z-index: 2;
    margin: auto;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000PX;
}

.welcome-text {
    color: white;
    font-size: 150px;
    font-weight: bolder;
    text-shadow: -3px -3px 3px #000, 3px -3px 3px #000, -3px 3px 3px #000, 3px 3px 3px #000;
    white-space: nowrap;
    text-align: center;
}

#eat {
     display: inline;
     color: #ff6347;
}

.search-bar {
    height: 100px;
}


#place-search {
    /* margin-top: 100px; */
    display: flex;
    justify-content: center;
}

.search-container {
  position: relative;
  display: flex;
}

#searchInput {
	padding: 8px 16px;
	border: 2px solid #ccc;
	border-radius: 20px;
	outline: none;
	font-size: 16px;
	transition: border-color 0.3s ease;
	width: 800px;
	box-shadow: -2px -2px 3px #000, 2px -2px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000;
}

#searchInput:focus {
  border-color: black;
}

.search-icon {
    display: inline-block;
    margin-left: 10px;

    border: none;
    background-color: transparent;
    opacity: 1;
    padding: 0;
}

.search-icon i {
    text-shadow: -2px -2px 3px #000, 2px -2px 3px #000, -1px 1px 3px #000, 2px 1px 3px #000
}

.carousel-container {
  width: 100%;
  height: 800px;
  margin: auto;
  overflow: hidden;

  position: absolute
}

.carousel-wrapper {
  display: flex;
  transition: transform 1s ease;
  width: 100%;
}

.image-container {
    flex: 0 0 100%;
    height: 800px;

    display: flex;
    object-fit: cover;
    justify-content: center;
    margin-right: 20.5px;
}

.carousel-image {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.featured-container{
    width: 100%;
    margin: auto;
}

.featured-header {
    width: 1400px;
    margin: auto;
    text-align: center;
}

.separator {
    width: 100%;
    height: 10px;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0 0 10px black;
}

.underline {
    width: 100%;
    height: 10px;
    margin: 25px auto 45px;
    background: white;
    box-shadow: 0 0 10px black;
}

.featured-banner {
    width: 100%;
    height: 100px;
    margin: 100px auto 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: white;
    font-family: "Anton",var(--bs-font-sans-serif);
    text-shadow: 0 0 10px black;
}

.featured-login {
    margin: 100px auto 300px;
    color: white;
    font-size: 50px;
}

.featured {
    width: 1400px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
}

.restaurant-listing {
    height: 410px;
    width: 450px;
    margin: 10px 8px 10px;

    display: block;
    background-color: #1e1e26;
    box-shadow: 0 0 10px black;
}


.img-container {
    width: auto;
    height: 300px;

    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;
}

.listing-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.photo-validation {
    font-family: arial;
    color: white;
    font-size: 40px;
}


.listing-info {
    display: block;
    font-size: 20px;
    color: white;
}

.info-container {
    padding-left: 10px;
}

a {
    text-decoration: none;
}

.nextPage {
    display: flex;
    margin: 10px;
    width: 100%;
    height: 50px;
    justify-content: center;
}

.nextPage form {
    width: 100%;
    height: 100%;
}

.nextPage form button {
    background-color: #171717;
    border: 4px solid #1b1b1b;
    color: white;
    width: 90%;
    height: 100%;
    font-size: 20px;
}