
body {
    background-color: ;
}

.navbar1 {
    width: 100%;
    position: fixed;
    z-index: 3;
    display: flex;
    vertical-align: center;

    border-bottom: 5px ridge #01010123;
    background: rgba(0, 0, 0, 0.95);
    padding: 15px 50px;
    display: flex;
    align-items: center;
    color: white;
    opacity: 85%;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: auto;
  width: 90%;
  padding-left: 0px;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  font-family: "Anton", var(--bs-font-sans-serif);
  transition: color 0.3s ease;
  font-size: 25px;
}

.navbar-links li a:hover {
  color: #ff6347;
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  }
  100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  }
}

.logo:hover {
    animation: glowing 1s infinite;
}
