<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<link rel="stylesheet" href="/css/account.css">
<script src="/js/account.js"></script>
<body>

<div class="page-content">

    <div th:replace="fragments :: navbar"></div>

    <div class="no-user" th:unless="${user}">

        <div>Please <a href="/login"><span class="clickable">login</span></a> to view your account</div>

        <div>or <a href="/register"><span class="clickable">register</span></a> to create a new account</div>

    </div>

    <div class="account-container" th:if="${user}">

        <div class="header">My Account</span></div>

        <div class="view-options">
            <ul>
                <a href="/account"><li class="show-content">My Details</li></a>
                <a href="/account/favorites"><li class="show-content">My Favorites</li></a>
                <a href="/account/reviews"><li class="show-content">My Reviews</li></a>
            </ul>
        </div>

        <div class="favorites-content content">

            <th:block th:each="restaurant : ${favoriteRestaurants}">

                <div class="favorite-restaurant">
                    <a th:href="@{/restaurant(placeId=${restaurant.getPlace_id()})}">
                        <div class="img-container">
                            <img class="restaurant-image"
                                 th:if="${restaurant.getAllPhotos().get(0) != 'No photos available'}"
                                 th:src="${restaurant.getAllPhotos().get(0)}"/>
                            <p class="photo-validation"
                               th:unless="${restaurant.getAllPhotos().get(0) != 'No photos available'}">No Photo available :(</p>
                        </div>
                    </a>
                    <div class="info-container">
                        <div class="listing-info" style="font-size: 25px;" th:text="${restaurant.getName()}"></div>
                        <form action="/account/favorite/delete" method="POST">
                            <input type="hidden" th:value="${restaurant.getPlace_id()}" name="place_id"/>
                            <button class="remove-favorite">
                                <i class="fa fa-trash w3 xxx-large"></i>
                            </button>
                        </form>
                    </div>
                </div>

            </th:block>
        </div>

    </div>

</div>

</body>
</html>