<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container mt-5">
    <h1 class="mb-4">Add Favorite</h1>

    <form method="post" action="/favorites/add"  th:object="${placeId}" style="max-width: 600px;">

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add Favorite</button>
        </div>
        <input type="hidden" name="placeId" th:value="${placeId}" />
    </form>

</div>

</body>
</html>