
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="ISO-8859-1">
    <title>Login</title>

    <link rel="stylesheet" href="/css/loginStyle.css">
</head>

<body>

<div class="container">
    <div class="form-container">


        <div th:if="${param.error}">
            <div class="error-message">
                <p>Invalid Username or password</p>
            </div>
        </div>



        <div th:if="${param.logout}">
            <div class="logout-message">
                <p>Logout Successful!</p>
            </div>
        </div>

        <h2 class ="h2">Login</h2>
        <form
                method="post"
                role="form"
                th:action="@{/login}"
                th:object="${user}"

        >

            <div class="form-group">
                <label class = "labels" for="username">Username</label>
                <input class = "labels" th:field="*{username}" type="text" id="username" name="username" placeholder="Enter your username" required>
            </div>
            <div class="form-group">
                <label class = "labels" for="password">Password</label>
                <input class = "labels" th:field="*{password}" type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>

            <button id ="buttonSubmit" type="submit">Login</button>
        </form>
        <span> Register here: <a th:href="@{/register}">Register</a></span>
    </div>
</div>

</body>
</html>