<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>

<link rel="stylesheet" href="css/styles.css"/>

<body>

<div th:replace="fragments :: navbar"></div>

<div class="page-content">

    <div class="header">
        <p>Login to save restaurants to your profile!</p>
    </div>

    <div class="underline"></div>

    <div class="login-description">
        <p>
            *login box will go here*
        </p>
    </div>


</div>

</body>
</html>