<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
 body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.dashboard {
    background-color: #5e057e;
    color: #fff;
    padding: 40px;
    text-align: center;
}

.dashboard__title {
    font-size: 24px;
    margin-top: 0;
}

.dashboard__user {
    margin-top: 20px;
}

.dashboard__user-name {
    font-size: 50px;
    color: #c299d0;
}


 </style>
    <link rel="stylesheet" th:href="@{css/home.css}"/>
</head>
<body>
<div th:replace="fragments :: navbar"></div>
<div class="dashboard">
    <h1 class="dashboard__title">Welcome to FoodMagnet!</h1>
    <div class="dashboard__user">
        <h2 th:text="${userDetails.fullname}" class="dashboard__user-name">User's Name</h2>
    </div>
</div>
<span sec:authorize="isAuthenticated"><a th:href="@{/logout}">Logout</a></span>

<!--&lt;!&ndash; Display user's reviews &ndash;&gt;-->
<!--<div th:if="${#lists.size(userReviews) > 0}">-->
<!--    <h2>User's Reviews:</h2>-->
<!--    <ul>-->

<!--        <li th:each="review : ${userReviews}">-->
<!--            <div class="container p-3 my-3 bg-secondary text-white">-->
<!--                <p th:text="${review.hotel.hotelName}"></p>-->
<!--                <p th:text="${review.rating}"></p>-->
<!--                <p th:text="${review.comments}"></p>-->
<!--                &lt;!&ndash; Add Delete Review button &ndash;&gt;-->
<!--            </div>-->
<!--            <form th:action="@{/reviews/{reviewId}/delete(reviewId=${review.reviewId})}" method="post">-->
<!--                <input type="hidden" name="_method" value="delete" />-->
<!--                <button type="submit" class="btn btn-danger">Delete Review</button>-->
<!--            </form>-->

<!--            <form th:action="@{/reviews/{reviewId}/update(reviewId=${review.reviewId})}" method="post">-->
<!--                <input type="hidden" name="_method" value="update" />-->
<!--                <button type="submit" class="btn btn-danger">Update Review</button>-->
<!--            </form>-->

<!--            <hr />-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->
</body></html>