<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Restaurant Page</title>
    <link rel="stylesheet" href="static.css">
</head>
<body>
<h1>Welcome to a restaurant page!</h1>
<p>Click <a th:href="@{/RestaurantController}">here</a> to see a greeting.</p>
</body>
<iframe
        width="600"
        height="450"
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA27YdMxL2D735pVL7JTgpb3dxkJ6RgDWU&q=@{Location}">
</iframe>
</html>