<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head">
</head>
<link rel="stylesheet" th:href="@{css/home.css}"/>
<body>



    <div th:replace="fragments :: navbar"></div>

    <h1>Welcome to a restaurant page!</h1>




    <h1 style ="padding-top=200px;">Restaurant Details</h1>
    <div class="restaurant-details" >
        <h1 th:text="${restaurant.name}"></h1>




        <!-- Add more details about the restaurant here -->
    </div>
    </body>



<iframe
        width="600"
        height="450"
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA27YdMxL2D735pVL7JTgpb3dxkJ6RgDWU&q=Space+Needle,Seattle+WA">
</iframe>
</html>