<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.tymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Search Page</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
    <div th:replace="home.html :: navbar"></div>

    <h1>hi</h1>

    <img th:src="${sampleImage}" alt="sample image">

    <th:block th:each="map : ${fieldMap}">
        <div>
            <span th:text="${map.key}"></span>
            <p></p>
            <th:block th:each="field : ${map.value}">
                <span th:text="${field.key}"></span>
                <span th:text="${field.value}"></span>
                <p></p>
            </th:block>
        </div><br><br><br><br><br>
    </th:block>

</body>
</html>