<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<link rel="stylesheet" href="css/search.css"/>
<body>
<div class="page-content">
    <div th:replace="fragments :: navbar"></div>


    <div id="place-search">

        <form action="/search" method="POST"
              style="display: inline-block;">

            <div class="search-container">
                <input type="text" name="searchInput" id="searchInput" placeholder="Search by location"/>

                <input type="hidden" name="selectedFilter" id="selectedFilter" value="Remove Filter">
                <input type="hidden" name="searchType" id="searchType" value="Location">
                <button class="search-icon" type="submit">
                    <i class="fa fa-search w3-xxxlarge"></i>
                </button>

            </div>

        </form>

    </div>

    <div th:unless="${user}" class="filters-container" style="color: white; font-size: 25px; padding: 20px">
        Please <a href="/login" style="color: #ff6347; text-decoration: none;">login</a> to use filters
    </div>

    <div th:if="${user}" class="filters-container">
        <button type="button" class="collapsible">Search Filters!</button>
        <div class="content">
            <ul class="filter-list">
                <li class="type-filter" id="search-type">Search by:
                    <span class="search-location">Location</span>
                    <span class="search-cuisine">Cuisine</span>
                </li>
                <li class="filter">Serves Breakfast</li>
                <li class="filter">Serves Lunch</li>
                <li class="filter">Serves Dinner</li>
                <li class="filter">Wheelchair Accessible</li>
                <li class="filter">Remove Filter</li>
            </ul>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const searchTypeElement = document.getElementById("search-type");
            const selectedFilterElement = document.getElementById("selectedFilter");
            const searchTypeElementSpans = searchTypeElement.querySelectorAll("span");

            searchTypeElement.addEventListener("click", function() {
                let displayedSpan = null;
                searchTypeElementSpans.forEach(span => {
                    if (window.getComputedStyle(span).display == "none") {
                        displayedSpan = span;
                    }
                });

                if (displayedSpan) {
                    document.getElementById("searchType").value = displayedSpan.textContent.trim();
                }
            });

            const filters = document.querySelectorAll(".filter");

            filters.forEach(filter => {
                filter.addEventListener("click", function() {
                    if (!this.classList.contains("type-filter")) {
                        filters.forEach(otherFilter => {
                            if (!otherFilter.classList.contains("type-filter")) {
                                otherFilter.classList.remove("selected");
                            }
                        });
                        this.classList.toggle("selected");
                        selectedFilterElement.value = this.textContent.trim();
                    }
                });
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
          const searchTypeFilter = document.getElementById("search-type");
          const searchCuisine = document.querySelector(".search-cuisine");
          const searchLocation = document.querySelector(".search-location");

          let displayCuisine = true;

          searchTypeFilter.addEventListener("click", function() {
            if (displayCuisine) {
              searchCuisine.style.display = "inline";
              searchLocation.style.display = "none";
            } else {
              searchCuisine.style.display = "none";
              searchLocation.style.display = "inline";
            }
            displayCuisine = !displayCuisine;
          });
        });
    </script>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            }
          });
        }

    </script>

    <div class="results-container">
        <div class="validation-header" th:if="${validation}" >
            <div class="validation-banner">Location not found.</div>
        </div>
        <div class="results-header" th:if="${restaurants}">
            <div class="results-banner">
                <span th:text="${cuisine}"></span>&nbsp;Restaurants in&nbsp;<span th:text="${location}"></span>!
            </div>
            <div class="underline"></div>
        </div>

        <div th:if="${restaurants}" class="results">

            <th:block th:each="restaurant : ${restaurants.getPageOfRestaurants()}">
                <a th:href="@{/restaurant(placeId=${restaurant.getPlace_id()})}"
                   style="display: inline-block">
                    <div class="restaurant-listing">

                        <div class="img-container">
                            <img class="listing-image"
                                 th:if="${restaurant.getAllPhotos().get(0) != 'No photos available'}"
                                 th:src="${restaurant.getAllPhotos().get(0)}"/>
                            <p class="photo-validation"
                               th:unless="${restaurant.getAllPhotos().get(0) != 'No photos available'}">No Photo available :(</p>
                        </div>

                        <div class="info-container">
                            <div class="listing-info" style="font-size: 25px;" th:text="${restaurant.getName()}"></div>
                            <div class="listing-info" th:text="${restaurant.getVicinity()}"></div>
                        </div>

                    </div>
                </a>

            </th:block>

            <div class="nextPage">
                <form id="myForm" action="/search/next" method="POST">
                    <input type="hidden" name="location" th:value="${location}"/>
                    <input type="hidden" name="cuisine" th:value="${cuisine}"/>
                    <button type="submit">Load More Results</button>
                </form>

            </div>
            <script>
                const savedScrollPosition = localStorage.getItem('scrollPosition');

                if (savedScrollPosition) {
                    window.scrollTo(0, savedScrollPosition);
                    localStorage.removeItem('scrollPosition');
                }

                document.getElementById('myForm').addEventListener('submit', function() {
                    localStorage.setItem('scrollPosition', window.scrollY || window.pageYOffset);
                });
            </script>

        </div>

    </div>

</div>

</body>
</html>