<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<link rel="stylesheet" th:href="@{css/search.css}"/>
<body>
    <div class="page-content">
        <div th:replace="fragments :: navbar"></div>

        <h1>hi</h1>

        <div id="place-search">

            <form action="/search" method="POST">

        <!--            <label for="searchInput">Search: </label>-->
                <div class="search-container">
                    <input type="text" name="searchInput" id="searchInput"/>
                    <span class="search-icon"></span>
                </div>


                <input type="submit" value="submit"/>
                <p th:if="${validation}" th:text="${validation}"></p>
                <p class="filters">
                    <span class="radioSpace">
                        <input type="radio" name="searchType" id="all" value="all" checked="checked">
                        <label for="all">All</label>
                    </span>
                    <span class="radioSpace">
                        <input type="radio" name="searchType" id="serves_breakfast" value="serves_breakfast" checked="checked">
                        <label for="serves_breakfast">Serves Breakfast</label>
                    </span>
                    <span class="radioSpace">
                        <input type="radio" name="searchType" id="serves_lunch" value="serves_lunch" checked="checked">
                        <label for="serves_lunch">Serves Lunch</label>
                    </span>
                    <span class="radioSpace">
                        <input type="radio" name="searchType" id="serves_dinner" value="serves_dinner" checked="checked">
                        <label for="serves_dinner">Serves Dinner</label>
                    </span>
                </p>

            </form>

        </div>
    </div>

<!--    <div class="container" id="results" >-->

<!--        <div class="row">-->
<!--            <div class="col-sm-6">restaurant stuff</div>-->
<!--            <div class="col-sm-6">more restaurant stuff</div>-->
<!--        </div>-->

<!--    </div>-->

<!--
    <div th:if="${restaurants}" align="left">

        <table class="table" width="100%" align="left">

            <thead>
                <tr><td></td></tr>Results:
            </thead>

            <tbody>
                <th:block th:each="restaurant : ${restaurants}">
                    <tr>
                        <td> <a th:href="@{/search/restaurant(placeId=${restaurant.value.get('place_id: ')})}" >
                                <img th:src="${restaurant.value.get('photos: ').get(0)}" width="40%" height="40%"/>
                        </a> </td>

                        <td th:text="${restaurant.value.get('name: ')}" style="font-size: 30px;">
                            <a th:href="@{/search/restaurant(placeId=${restaurant.value.get('place_id: ')})}"></a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>

-->

    <!--    <div th:if="${restaurants}" id="results">-->

    <!--        <th:block th:each="map : ${restaurants}">-->
    <!--            <div>-->
    <!--                <span th:text="${map.key}"></span>-->
    <!--                <p></p>-->
    <!--                <th:block th:each="field : ${map.value}">-->
    <!--                    <span th:text="${field.key}"></span>-->
    <!--                    <img th:if="${field.key == 'photos: '}" th:src="${field.value.get(0)}"/>-->
    <!--                    <span th:unless="${field.key == 'photos: '}" th:text="${field.value}"></span>-->
    <!--                    <p></p>-->
    <!--                </th:block>-->
    <!--            </div><br><br><br><br><br>-->
    <!--        </th:block>-->

    <!--    </div>-->


</body>
</html>